<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <div>
        <img src="assets/img/angular.png" class="angular_img"/>
        <img src="assets/img/spring.png" class="spring_img"/>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" uiSrefActive="active">
        <a class="nav-link" uiSref="coreJava">Core Java <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" uiSrefActive="active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spring</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:;">Spring Core & IOC</a>
            <a class="dropdown-item" href="javascript:;">Spring AOP</a>
            <a class="dropdown-item" href="javascript:;">Spring Boot</a>
            <a class="dropdown-item" href="javascript:;">Spring Web</a>
            <a class="dropdown-item" href="javascript:;">Spring Data & Integration</a>
            <a class="dropdown-item" href="javascript:;">Spring Security</a>
          </div>
      </li>
      <li class="nav-item dropdown" uiSrefActive='active'>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Angular</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:;" uiSref="angularTutorial">Angular Tutorials</a>
          <a class="dropdown-item" href="javascript:;" uiSref="angular7">Interview Questions</a>
        </div>
    </li>
      <li class="nav-item dropdown" uiSrefActive="active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:;">Hibernate</a>
            <a class="dropdown-item" href="javascript:;">SOAP Webservice</a>
            <a class="dropdown-item" href="javascript:;">REST Webservice</a>
            <a class="dropdown-item" href="javascript:;">SOA Architecture</a>
            <a class="dropdown-item" href="javascript:;">Caching</a>
            <a class="dropdown-item" href="javascript:;">Maven</a>
            <a class="dropdown-item" href="javascript:;">Junit</a>
            <a class="dropdown-item" href="javascript:;">Database & SQL</a>
            <a class="dropdown-item" href="javascript:;">Logging</a>
            <a class="dropdown-item" href="javascript:;">Release & Deployment</a>
            <a class="dropdown-item" href="javascript:;">Performance</a>
            <a class="dropdown-item" href="javascript:;">Project</a>
            <a class="dropdown-item" href="javascript:;">XML/Schema</a>
            <a class="dropdown-item" href="javascript:;">Development Tools</a>
            <a class="dropdown-item" href="javascript:;">UNIX Commands</a>
            <a class="dropdown-item" href="javascript:;">Application & Webservers</a>
            <a class="dropdown-item" href="javascript:;">Memory Management</a>
          </div>
        </li>
      <li class="nav-item" uiSrefActive="active">
        <a class="nav-link">About Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="keyword" name="keyword">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="search()">Search</button>
      </form>
  </div>
</nav>