<div class="container my-3">
    <h2 class="text-center mt-3">Spring AOP</h2>
    <h4 class="text-center font-weight-bold">Interview Questions & Answers</h4>
    <div class="col-12">
      <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">1. What is AOP?</h5>
        <p class="text-indent-3 w-100">
            Aspect Oriented Programming (AOP) compliments OOPs in the sense that it also provides modularity. But the key unit of modularity is aspect than class.
        </p>
        <p class="text-indent-3 w-100">
            AOP breaks the program logic into distinct parts (called concerns). It is used to increase modularity by cross-cutting concerns.
        </p>
        <p class="text-indent-3 w-100">
            A cross-cutting concern is a concern that can affect the whole application and should be centralized in one location in code as possible, such as transaction management, authentication, logging, security etc.
        </p>
        <p class="text-indent-3 w-100">
            Spring AOP can be used by majorly 2 ways given below. But the widely used approach is Spring AspectJ Annotation Style.
        </p>
        <p class="text-indent-3 w-100 font-weight-bold">
            1) By AspectJ annotation-style
        </p>
        <p class="text-indent-3 w-100 font-weight-bold">
            2) By Spring XML configuration-style
        </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">2. What is the difference between concern and cross-cutting concern in Spring AOP?</h5>
          <p class="text-indent-3 w-100">
              Concern is behavior which we want to have in a module of an application. Concern may be defined as a functionality we want to implement to solve a specific business problem. E.g. in any eCommerce application different concerns (or modules) may be inventory management, shipping management, user management etc.
          </p>
          <p class="text-indent-3 w-100">
              Cross-cutting concern is a concern which is applicable throughout the application (or more than one module). e.g. logging , security and data transfer are the concerns which are needed in almost every module of an application, hence they are termed as cross-cutting concerns.
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">3. What are the available AOP implementations?</h5>
          <p class="text-indent-3 w-100">
              Main java based AOP implementations are listed below :
          </p>
          <ul class="text-indent-3 w-100">
            <li>AspectJ</li>
            <li>Spring AOP</li>
            <li>JBoss AOP</li>
          </ul>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">4. What are the different advice types in spring?</h5>
          <p class="text-indent-3 w-100">
              An advice is the implementation of cross-cutting concern which you are interested in applying on other modules of your application. Advices are of mainly 5 types :
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">5. </h5>
          <p class="text-indent-3 w-100">
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">6. </h5>
          <p class="text-indent-3 w-100">
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">7. </h5>
          <p class="text-indent-3 w-100">
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">8. </h5>
          <p class="text-indent-3 w-100">
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100">9. </h5>
          <p class="text-indent-3 w-100">
          </p>
      </div>
      <div class="row col-12 my-3">
          <h5 class="font-weight-bold w-100"></h5>
          <p class="text-indent-3 w-100">
          </p>
      </div>
  </div>
  <div class="col-12 row mx-0 my-2">
      <h4 class="col-12 text-center font-weight-bold font-italic">Happy Coding!!!</h4>
  </div>
</div>