<div class="container my-3">
  <h2 class="text-center mt-3">Spring IOC</h2>
  <h4 class="text-center font-weight-bold">Interview Questions & Answers</h4>
  <div class="col-12">
    <div class="row col-12 my-3">
      <h5 class="font-weight-bold">1. What is Spring Framework?</h5>
      <p class="text-indent-3">
          Spring is one of the most widely used Java EE framework. Spring framework core concepts are “Dependency Injection” and “Aspect Oriented Programming”.
      </p>
      <p class="text-indent-3">
          Spring framework can be used in normal java applications also to achieve loose coupling between different components by implementing dependency injection and we can perform cross cutting tasks such as logging and authentication using spring support for aspect oriented programming.
      </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">2. What are the features and advantages Spring Framework?</h5>    
        <div class="ml-3 col-12">
            <p class="h5">Features:</p>
            <ul>
              <li>Lightweight and very little overhead of using framework for our development.</li>
              <li>Dependency Injection or Inversion of Control to write components that are independent of each other, spring container takes care of wiring them together to achieve our work.</li>
              <li>Spring IoC container manages Spring Bean life cycle and project specific configurations such as JNDI lookup.</li>
              <li>Spring MVC framework can be used to create web applications as well as restful web services capable of returning XML as well as JSON response.</li>
              <li>Support for transaction management, JDBC operations, File uploading, Exception Handling etc with very little configurations, either by using annotations or by spring bean configuration file.</li>
            </ul>
            <p class="h5">Advantages:</p>
            <ul>
              <li>Reducing direct dependencies between different components of the application, usually Spring IoC container is responsible for initializing resources or beans and inject them as dependencies.</li>
              <li>Writing unit test cases are easy in Spring framework because our business logic doesn’t have direct dependencies with actual resource implementation classes. We can easily write a test configuration and inject our mock beans for testing purposes.</li>
              <li>Reduces the amount of boiler-plate code, such as initializing objects, open/close resources. I like JdbcTemplate class a lot because it helps us in removing all the boiler-plate code that comes with JDBC programming.</li>
              <li>Spring framework is divided into several modules, it helps us in keeping our application lightweight. For example, if we don’t need Spring transaction management features, we don’t need to add that dependency in our project.</li>
              <li>Spring framework support most of the Java EE features and even much more. It’s always on top of the new technologies, for example there is a Spring project for Android to help us write better code for native android applications. This makes spring framework a complete package and we don’t need to look after different framework for different requirements.</li>
            </ul>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">3. What is Dependency Injection?</h5>
        <p class="text-indent-3">
            Dependency Injection design pattern allows us to remove the hard-coded dependencies and make our application loosely coupled, extendable and maintainable. We can implement dependency injection pattern to move the dependency resolution from compile-time to runtime.
        </p>
        <p class="text-indent-3">
            Some of the benefits of using Dependency Injection are: Separation of Concerns, Boilerplate Code reduction, Configurable components and easy unit testing.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">4. How we does implement DI in Spring Framework?</h5>
        <p class="text-indent-3">
            We can use Spring XML based as well as Annotation based configuration to implement DI in spring applications.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">5. Name some of the important Spring Modules?</h5>
        <div class="ml-3 col-12">
            <p>Some of the important Spring Framework modules are:</p>
            <ul>
              <li><span class="font-weight-bold">Spring Context</span> – for dependency injection.</li>
              <li><span class="font-weight-bold">Spring AOP</span> – for aspect oriented programming.</li>
              <li><span class="font-weight-bold">Spring DAO</span> – for database operations using DAO pattern</li>
              <li><span class="font-weight-bold">Spring JDBC</span> – for JDBC and DataSource support.</li>
              <li><span class="font-weight-bold">Spring ORM</span> – for ORM tools support such as Hibernate</li>
              <li><span class="font-weight-bold">Spring Web Module</span> – for ORM tools support such as Hibernate</li>
              <li><span class="font-weight-bold">Spring MVC</span> – Model-View-Controller implementation for creating web applications, web services etc.</li>
            </ul>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">6. What is Spring IOC Container?</h5>
        <p class="text-indent-3">
            Inversion of Control (IoC) is the mechanism to achieve loose-coupling between Objects dependencies. 
            To achieve loose coupling and dynamic binding of the objects at runtime, the objects define their dependencies that are being injected by other assembler objects. Spring IoC container is the program that injects dependencies into an object and make it ready for our use.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">7. What are the ApplicationContext is available in Spring framework?</h5>
        <div class="ml-3 col-12">
            <ul>
              <li><span class="font-weight-bold">ClassPathXmlApplicationContext</span> - For standalone java applications using XML based configuration.</li>
              <li><span class="font-weight-bold">FileSystemXmlApplicationContext</span> - Similar to ClassPathXmlApplicationContext except that the xml configuration file can be loaded from anywhere in the file system.</li>
              <li><span class="font-weight-bold">AnnotationConfigApplicationContext</span> - For standalone java applications using annotations based configuration.</li>
              <li><span class="font-weight-bold">XmlWebApplicationContext </span> - For Web applications.</li>
            </ul>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">8. What is a Spring Bean?</h5>
        <p class="text-indent-3">
            Any normal java class that is initialized by Spring IoC container is called Spring Bean. We use Spring ApplicationContext to get the Spring Bean instance. Spring IoC container manages the life cycle of Spring Bean, bean scopes and injecting any required dependencies in the bean.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">9. What are different ways to configure a class as Spring Bean?</h5>
        <div class="ml-3 col-12">
          <p>There are three different ways to configure Spring Bean.</p>
          <ul>
            <li>
                <span class="font-weight-bold">XML configuration</span>
                <p>This is the most popular configuration and we can use bean element in context file to configure a Spring Bean.</p>
                <p class="code_box">
                    &lt;bean name="myBean" class="com.journaldev.spring.beans.MyBean"&gt;&lt;/bean&gt;
                </p>
            </li>
            <li>
                <span class="font-weight-bold">Annotation Based configuration</span>
                <p>We can also use @Component, @Service, @Repository and @Controller annotations with classes to configure them to be as spring bean. For these, we would need to provide base package location to scan for these classes. </p>
                <p class="code_box">
                    &lt;context:annotation-config/&gt;
                    <br>
                    &lt;context:component-scan base-package="com.journaldev.spring"/&gt;
                </p>
            </li>
            <li>
                <span class="font-weight-bold">Java Based configuration</span>
                <p> If you are using only annotations, you can configure a Spring bean using @Bean annotation. This annotation is used with @Configuration classes to configure a spring bean. Sample configuration is:</p>
                <pre class="code_box">                   
@Configuration
@ComponentScan(value="com.journaldev.spring.main")
public class MyConfiguration {{'{'}}

	@Bean
	public MyService getService(){{'{'}}
		return new MyService();
	}
}
                </pre>
            </li>
          </ul>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">10. What are different scopes of Spring Bean?</h5>
        <div class="ml-3 col-12">
          <p>There are five scopes defined for Spring Beans.</p>
          <ul>
            <li><span class="font-weight-bold">singleton</span> - Only one instance of the bean will be created for each container. This is the default scope for the spring beans. While using this scope, make sure spring bean doesn’t have shared instance variables otherwise it might lead to data inconsistency issues because it’s not thread-safe.</li>
            <li><span class="font-weight-bold">prototype</span> - A new instance will be created every time the bean is requested.</li>
            <li><span class="font-weight-bold">request</span> - This is same as prototype scope, however it’s meant to be used for web applications. A new instance of the bean will be created for each HTTP request.</li>
            <li><span class="font-weight-bold">session</span> - A new bean will be created for each HTTP session by the container.</li>
            <li><span class="font-weight-bold">global-session</span> - This is used to create global session beans for Portlet applications.</li>
          </ul>
          <p class="text-muted"><span class="font-weight-bold">Note: </span>Spring Framework is extendable and we can create our own scopes too, however most of the times we are good with the scopes provided by the framework.</p>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">11. What is Spring Bean life cycle?</h5>
        <p class="text-indent-3">
            Spring Beans are initialized by Spring Container and all the dependencies are also injected. When context is destroyed, it also destroys all the initialized beans. This works well in most of the cases but sometimes we want to initialize other resources or do some validation before making our beans ready to use. Spring framework provides support for post-initialization and pre-destroy methods in spring beans.
        </p>
        <p class="text-indent-3">
            We can do this by two ways – by implementing InitializingBean and DisposableBean interfaces or using init-method and destroy-method attribute in spring bean configurations.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">12. What is Bean wiring and @Autowired annotation?</h5>
        <p class="text-indent-3">
            The process of injection spring bean dependencies while initializing it called Spring Bean Wiring.
        </p>
        <p class="text-indent-3">
            Usually it’s best practice to do the explicit wiring of all the bean dependencies, but spring framework also supports autowiring. We can use @Autowired annotation with fields or methods for autowiring byType. For this annotation to work, we also need to enable annotation based configuration in spring bean configuration file. This can be done by context:annotation-config element.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">13. What are different types of Spring Bean autowiring?</h5>
        <div class="ml-3 col-12">
          <p>There are three types of autowiring in Spring framework.</p>
          <ul>
            <li>byName</li>
            <li>byType</li>
            <li>byConstructor</li>
          </ul>
          <p>Prior to Spring 3.1, autowire by autodetect was also supported that was similar to autowire by constructor or byType.</p>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">14. Does Spring Bean provide thread safety?</h5>
        <p class="text-indent-3">
            The default scope of Spring bean is singleton, so there will be only one instance per context. That means that all the having a class level variable that any thread can update will lead to inconsistent data. Hence in default mode spring beans are not thread-safe.
        </p>
        <p class="text-indent-3">
            However we can change spring bean scope to request, prototype or session to achieve thread-safety at the cost of performance. It’s a design decision and based on the project requirements.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">15. What is a Controller in Spring MVC?</h5>
        <p class="text-indent-3">
            Just like MVC design pattern, Controller is the class that takes care of all the client requests and send them to the configured resources to handle it. In Spring MVC, org.springframework.web.servlet.DispatcherServlet is the front controller class that initializes the context based on the spring beans configurations.
        </p>
        <p class="text-indent-3">
            A Controller class is responsible to handle different kind of client requests based on the request mappings. We can create a controller class by using @Controller annotation. Usually it’s used with @RequestMapping annotation to define handler methods for specific URI mapping.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">16. What’s the difference between @Component, @Controller, @Repository & @Service annotations in Spring?</h5>
        <p class="text-indent-3">
            <span class="font-weight-bold">@Component</span> is used to indicate that a class is a component. These classes are used for auto detection and configured as bean, when annotation based configurations are used.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">@Controller</span> is a specific type of component, used in MVC applications and mostly used with RequestMapping annotation.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">@Repository</span> annotation is used to indicate that a component is used as repository and a mechanism to store/retrieve/search data. We can apply this annotation with DAO pattern implementation classes.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">@Service</span> is used to indicate that a class is a Service. Usually the business facade classes that provide some services are annotated with this.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">17. Can we have multiple Spring configuration files?</h5>
        <div class="ml-3 col-12">
          <p>Yes, we can have multiple configuration files in spring.</p>
          <ul>
            <li>
              <span class="font-weight-bold">XML</span> - Using import option, we can import another xml files into common xml file.
              <p class="code_box">
                &lt;import resource="other-beans.xml"/&gt;
              </p>
            </li>
            <li>
              <span class="font-weight-bold">Annotation</span> - Using @Import, we can import another config class into main config class.
              <p class="code_box">
                @Configuration<br>
                @Import(DataSourceConfig.class)<br>
                public class AppConfig{{'{'}}<br>
                .....<br>
                }
              </p>
            </li>
            <li>
              <span class="font-weight-bold">Context</span> - While creating context, we can supply multiple config files.
              <p class="code_box">
                  ApplicationContext context = new ClassPathXmlApplicationContext("config1.xml","config2.xml");<br>
                  (OR)<br>
                  ApplicationContext context = new AnnotationConfigApplicationContext(config1.class,config2.class);
              </p>
            </li>
          </ul>
        </div>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">18. Explain Bean lifecycle in Spring framework?</h5>
        <p class="text-indent-3">
            Following is sequence of a bean lifecycle in Spring:
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Instantiate: </span> First the spring container finds the bean’s definition from the XML file and instantiates the bean.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Populate properties: </span> Using the dependency injection, spring populates all of the properties as specified in the bean definition.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Set Bean Name: </span> If the bean implements BeanNameAware interface, spring passes the bean’s id to setBeanName() method.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Set Bean factory: </span> If Bean implements BeanFactoryAware interface, spring passes the beanfactory to setBeanFactory() method.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Pre Initialization: </span> Also called post process of bean. If there are any bean BeanPostProcessors associated with the bean, Spring calls postProcesserBeforeInitialization() method.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Initialize beans: </span> If the bean implements IntializingBean,its afterPropertySet() method is called. If the bean has init method declaration, the specified initialization method is called.
        </p>
        <p class="text-indent-3">
            <span class="font-weight-bold">Post Initialization: </span> If there are any BeanPostProcessors associated with the bean, their postProcessAfterInitialization() methods will be called.
        </p>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bold">Ready to use: </span> Now the bean is ready to use by the application
        </p>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bold">Destroy: </span> If the bean implements DisposableBean , it will call the destroy() method
        </p>

    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">19. default-init-method what will do?</h5>
        <p class="text-indent-3">
            If we define default-init-method, it will try to execute that init method before each bean initialization. That init method need to define inside of each bean class, but not necessary.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold">20. afterPropertiesSet() from InitializingBean interface and init-method in xml, which will call first?</h5>
        <p class="text-indent-3">
            afterPropertiesSet() method will call first after that whatever we mentioned in init-method of that bean in context xml, that will execute. If we used interface and xml config in bean and init-method name same as afterPropertiesSet(). Then it will execute only once.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">21. destroy() from DisposableBean interface and destroy-method in xml, which will call first?</h5>
        <p class="text-indent-3 w-100">
                destroy() method will call first after that whatever we mentioned in destroy-method of that bean in context xml, that will execute. If we used interface and xml config in bean and destory-method name same as destroy(). Then it will execute only once.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">22. BeanPostProcessor and Ordered interface?</h5>
        <p class="text-indent-3 w-100">
                BeanPostProcessor is used to callback before bean initialization and after initialization of every bean. We have to implement BeanPostProcessor interface and the implemented class need to be define in xml. If we define the implemented class in xml, spring will automatically identify that as post process bean.
        </p>
        <p class="text-indent-3 w-100">
                Ordered interface is used to order the one or more BeanPostProcessor in same context. It will implement getOrder() method to define the order.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">23. Can we use BeanPostProcessor implemented class as normal bean?</h5>
        <p class="text-indent-3 w-100">
                Yes, we can use as a normal bean class. But it is not recommended. As we are using only for post procees purpose. If we didn't define id or name for that bean, then we can't access through container.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">24. When index is required in constructor-ref or property?</h5>
        <p class="text-indent-3 w-100">
                If the constructor arguments are in same type or if we didn't define type then we have to go for that options.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">25. Can we declare inner beans?</h5>
        <p class="text-indent-3 w-100">
                Yes, we can define inner beans. Instead of defining ref arguments, we can define inner beans. But inner beans, we can't use it outside.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">26. Can we use inner beans outisde by using Context.getBeans()?</h5>
        <p class="text-indent-3 w-100">
                No, inner beans never called or used outisde.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">27. What are the ways to do Dependency Injection in spring?</h5>
        <p class="text-indent-3 w-100">
            1. Setter Based
        </p>
        <p class="text-indent-3 w-100">
            2. Constructor Based
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">28. What are the collections, we can use it in bean configuration?</h5>
        <p class="text-indent-3 w-100">
            1. List
        </p>
        <p class="text-indent-3 w-100">
            2. Set
        </p>
        <p class="text-indent-3 w-100">
            3. Map
        </p>
        <p class="text-indent-3 w-100">
            4. Props
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">29. What is value-type in list?</h5>
        <p class="text-indent-3 w-100">
                value-type defining the data type of elements or values inside the list
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">30. How to create a linked list in Bean xml?</h5>
        <p class="text-indent-3 w-100">
                Using java.util.LinkedList, we can create a linked list and assign to the property, where we required.
        </p>
        <pre class="code_box w-100">
&lt;bean id="linkedList" class="java.util.LinkedList"&gt;
    &lt;constructor-arg&gt;
        &lt;list&gt;
            &lt;value&gt;India&lt;/value&gt;
            &lt;value&gt;Sri Lanka&lt;/value&gt;
            &lt;value&gt;Thailand&lt;/value&gt;
        &lt;/list&gt;
    &lt;/constructor-arg&gt;
&lt;/bean&gt;
        </pre>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">31. How to inject another bean inside list?</h5>
        <p class="text-indent-3 w-100">
                Using below code we can inject another bean reference to list. But, the list should accept all objects.
        </p>
        <pre class="code_box w-100">
&lt;list&gt;
    ..
    &lt;ref bean="beanName"&gt;&lt;/ref&gt;
&lt;/list&gt;
        </pre>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">32. How to assign empty and null value in spring xml?</h5>
        <p class="text-indent-3 w-100">
                We can use "" to assign empty value and we can use &lt;null/&gt; to assign null value to any element. See the below example.
        </p>
        <p class="text-indent-3 w-100">
                To assign Empty value:
        </p>
        <pre class="code_box w-100">
&lt;bean id = "..." class = "exampleBean"&gt;
    &lt;property name = "email" value = ""/&gt;
&lt;/bean&gt;
        </pre>
        <p class="text-indent-3 w-100">
                To assign Null value:
        </p>
        <pre class="code_box w-100">
&lt;bean id = "..." class = "exampleBean"&gt;
    &lt;property name = "email"&gt;&lt;null/&gt;&lt;/property&gt;
&lt;/bean&gt;
        </pre>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">33. Autowire types in spring xml?</h5>
        <ul class="w-100">
            <li>no</li>
            <li>byName</li>
            <li>byType</li>
            <li>constructor</li>
            <li>default</li>
        </ul>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">34. Can we override autowiring?</h5>
        <p class="text-indent-3 w-100">
                Yes, by defining constructor or setter based, we can override the autowire.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">35. Can we autowire primitive data types?</h5>
        <p class="text-indent-3 w-100">
                No, primitive data types and strings, can't do autowire.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">36. How you create new instance, whenever the bean is calling?</h5>
        <p class="text-indent-3 w-100">
                We can set bean scope as prototype. Then it will create a new instance, whenever we are calling.
                <br><span class="pl-5">XML => scope="prototype"</span>
                <br><span class="pl-5">In Annoation => @Scope("prototype")</span>
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">37. What are the EventHandlers available in Spring Context?</h5>
        <ul class="w-100">
            <li>ContextRefreshedEvent</li>
            <li>ContextStartedEvent</li>
            <li>ContextStoppedEvent</li>
            <li>ContextClosedEvent</li>
            <li>RequestHandledEvent</li>
        </ul>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">38. How many types of RetentionPolicy?</h5>
        <ul class="w-100">
            <li>SOURCE</li>
            <li>CLASS</li>
            <li>RUNTIME</li>
        </ul>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">39. What is @Target?</h5>
        <p class="text-indent-3 w-100">
                @Target will define the target element.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">40. What are the element types are available in @Target?</h5>
        <ul class="w-100">
            <li>ElementType.ANNOTATION_TYPE</li>
            <li>ElementType.CONSTRUCTOR</li>
            <li>ElementType.FIELD</li>
            <li>ElementType.LOCAL_VARIABLE</li>
            <li>ElementType.METHOD</li>
            <li>ElementType.PACKAGE</li>
            <li>ElementType.PARAMETER</li>
            <li>ElementType.TYPE -> Class, Interface, enum and annotation</li>
        </ul>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">41. Give some example usage of ANNOTATION_TYPE in @Target?</h5>
        <p class="text-indent-3 w-100">
                Answer is in the question itself. We are using @Target and @Retention only for custom annotation place.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">42. How annotation used in Java super class can be inherited to sub classes?</h5>
        <p class="text-indent-3 w-100">
                Using @Inherited, we can inherit the annoations used in super class to sub class. We can this annotation only on Custom Annoation. Not in class directly.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">43. How to create custom annotation?</h5>
        <p class="text-indent-3 w-100">
                Using @Interface , we can create custom annotation.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">44. What are the ways to use multiple configuration class?</h5>
        <p class="text-indent-3 w-100">
            1. If all the configuration is inside same package, then we can mention base package, it will take all configuration
        </p>
        <p class="text-indent-3 w-100">
            2. If the configuration class in different package,<br>
            <span class="p-5">1. We can define all the packages in @ComponentScan(basePackages="{{'{'}}}")</span><br>
            <span class="p-5">2. We can import the config class in main config class using @Import annotation</span>
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">45. How to avoid component scan for particular sub package in xml and annotation?</h5>
        <p class="text-indent-3 w-100">
            1. XML
        </p>
        <pre class="code_box ml-5 w-100">
&lt;context:exclude-filter type="annotation" expression="com.demo.ignore"/&gt;
        </pre>
        <p class="text-indent-3 w-100">
            2. Annoation  
        </p>
        <pre class="code_box ml-5 w-100">
@ComponentScan(basePackages = "com.concretepage", 
    includeFilters = @Filter(type = FilterType.REGEX, pattern="com.concretepage.*.*Util"),
    excludeFilters = @Filter(type = FilterType.ASSIGNABLE_TYPE, classes = IUserService.class))
        </pre> 
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">46. What are the  Component Scan Filter Types?</h5>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bold">ANNOTATION: </span>Component scan of classes can be included and excluded by configuring annotation name applied at class level.
        </p>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bol">ASSIGNABLE_TYPE: </span>Using interface name or class name that has been implemented or extended by the classes, we can include and exclude classes in component scanning.
        </p>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bol">ASPECTJ: </span>Using aspect expression targeting classes names, it can be included and excluded in component scanning. 
        </p>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bol">REGEX: </span>Using regex expression targeting classes names, it can be included and excluded in component scanning. 
        </p>
        <p class="text-indent-3 w-100">
            <span class="font-weight-bol">Custom: </span>We can also create custom filter type by implementing org.springframework.core.type.TypeFilter.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">47. What is the difference between @Autowired and @Autowired()?</h5>
        <p class="text-indent-3 w-100">
                No difference both are same.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">48. How to load property file into class?</h5>
        <p class="text-indent-3 w-100">
                Using @PropertySource(classpath:test.properties), we can load property file into class.
        </p>
    </div>
    <div class="row col-12 my-3">
        <h5 class="font-weight-bold w-100">49. How to use the value from properties file after its loaded?</h5>
        <p class="text-indent-3 w-100">
                Using ${{'{'}}varname}, we can get the value from properties file.
        </p>
    </div>
  </div>
  <div class="col-12 row mx-0 my-2">
        <h4 class="col-12 text-center font-weight-bold font-italic">Happy Coding!!!</h4>
    </div>
</div>